.pagination {
    margin: 3rem;
}

.pagination-btn {
    background: var(--var-bg-header);
    color: var(--var-bg-character);
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    border: none;
    margin: 0.5rem;
}

.pagination-btn:hover {
    cursor: pointer;
    color: var(--var-bg-header);
    background: var(--var-bg-character);
}

.pagination-pages {
    width: 2.8rem;
    height: 2.8rem;
    background: gainsboro;
    margin: 0.3rem;
    color: var(--var-bg-character);
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5),
    inset 0 0 15px rgba(0, 0, 0, .2);
}

.active-page {
    color: var(--var-bg-header);
    background: var(--var-bg-character);
    cursor: pointer;
}

.pagination-pages:hover {
    cursor: pointer;
    color: var(--var-bg-header);
    background: darkgrey;
}