.home {
    background: var(--var-bg);
}

.home-search{
    margin: 2rem 0;
}

.home-characters-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
}