body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --var-bg: #202329;
  --var-bg-header: #F5F5F5;
  --var-bg-character: #3C3E44;
  --var-c-location: #9E9E9E
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

.width {
  width: 100%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fabComponent-color{
  color: snow;
}


