.layout {
    justify-content: space-between;
}

.layout-outlet {
    background: var(--var-bg);
}

.menu {
    position: fixed;
    bottom: 8rem;
    right: 4rem;
}

.layout-history {
    position: fixed;
    max-height: 30rem;
    bottom: 8rem;
    right: 0.5rem;
    background: var(--var-bg-header);
    color: var(--var-bg-character);
    border-radius: 0.5rem 0 0 0.5rem;
    overflow: auto;
}